{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block content %}
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Extrato</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th> Contrato </th>
                                <th> Data </th>
                                <th> Percentual </th>
                                <th> Valor </th>
                                <th> Parcial </th>
                                <th> Comprovante </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dividend in object_list %}
                                <tr class="{% if dividend.contract.is_active %}active{% else %}inactive{% endif %}">
                                    <td>
                                        {% if dividend.contract.is_active %}
                                            <i class="mdi mdi-checkbox-multiple-marked-circle" title="Ativo"></i>
                                        {% else %}
                                            <i class="mdi mdi-close-circle" title="Encerrado"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{dividend.contract.start_at|date:'m/Y'}}</td>
                                    <td>{{dividend.created_at|date:'d/m/y'}}</td>
                                    <td>{{dividend.contract.percent}}%</td>
                                    <td>R${{dividend.value|floatformat:2|intcomma}}</td>
                                    <td>{{dividend.order}}/{{dividend.contract.duration}}</td>
                                    <td>
                                        {% if dividend.receipt %}
                                        <a target="_blank" href="{{dividend.receipt.url}}" title="Baixar">
                                            <i class="mdi mdi-briefcase-download"></i>
                                        </a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7">
                                        <p class="mt-3">
                                            Nenhum dividendo lançado até o momento!
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}