{% extends 'dashboard/base.html' %}

{% block content %}
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Extrato</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th> Contrato </th>
                                <th> Data </th>
                                <th> Percentual </th>
                                <th> Valor </th>
                                <th> Parcial </th>
                                <th> Comprovante </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td><i class="mdi mdi-checkbox-multiple-marked-circle"
                                        title="Ativo"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>

                            </tr>
                            <tr class="active">
                                <td><i class="mdi mdi-checkbox-multiple-marked-circle"
                                        title="Ativo"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>

                            </tr>
                            <tr class="active">
                                <td><i class="mdi mdi-checkbox-multiple-marked-circle"
                                        title="Ativo"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>

                            </tr>
                            <tr class="active">
                                <td><i class="mdi mdi-checkbox-multiple-marked-circle"
                                        title="Ativo"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>

                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                            <tr class="inactive">
                                <td><i class="mdi mdi-close-circle" title="Encerrado"></i></td>
                                <td>01/2023</td>
                                <td>05/05/2023</td>
                                <td>6.5%</td>
                                <td>R$6.500,00</td>
                                <td>3/12</td>
                                <td>
                                    <a href="#" title="Baixar"><i
                                            class="mdi mdi-briefcase-download"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}