{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="{% url 'core:dashboard' %}"><img src="{% static 'assets/images/dashboard/m7business.png' %}" alt="logo"></a>
        <a class="sidebar-brand brand-logo-mini" href="{% url 'core:dashboard' %}"><img src="{% static 'assets/images/dashboard/m7business_mini.png' %}" alt="logo"></a>

    </div>
    <ul class="nav">
        <li class="nav-item nav-category">
            <span class="nav-link">Opções</span>
          </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'core:dashboard' %}">
                <span class="menu-icon">
                    <i class="mdi mdi-home"></i>
                </span>
                <span class="menu-title">Meu painel</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'contracts:my_contracts' %}">
                <span class="menu-icon">
                    <i class="mdi mdi-file-document"></i>
                </span>
                <span class="menu-title">Contratos</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'dividends:my_dividends' %}">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Extrato</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'core:support' %}">
                <span class="menu-icon">
                    <i class="mdi mdi mdi-email"></i>
                </span>
                <span class="menu-title">Suporte</span>
            </a>
        </li>
    </ul>
</nav>