{% extends 'dashboard/base.html' %}

{% block content %}
<div class="row">

    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Entre em contatoo</h4>
                    <p class="card-description"> Fale conosco </p>
                    <p>
                        <span>- Tel:</span> (84)3205-8685
                    </p>
                    <p>
                        <span>- E-mail:</span> contato@m7business.com
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Deixe sua mensagem</h4>
                    <p class="card-description"> Assunto </p>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Assunto</label>
                            <input type="text" class="form-control" placeholder="Assunto">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mensagem</label>
                            <textarea class="form-control" placeholder="Mensagem"
                                class="campo_mensagem">
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}